@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Montserrat:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
:root{
    --body-color: #03051c;
    --resalt-color: #34B0BE;
    --title-color: #FFF;
    --text-color: #D1CECA;
}
html{
    scroll-behavior: smooth;
    scroll-padding: 6vh;
}
body{
    background-color: var(--body-color);
}

/*Reciclables*/
.center{
    width: 100%;
    max-width: 360px;
    margin: auto;
}
.center2{
    margin-top: 40px;
}
.center2 > h2{
    color: var(--resalt-color);
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

/*Navegador*/
nav{
    height: 5.1vh;
    display: flex;justify-content: flex-end;align-items: center;
    z-index: 999;
    background-color: var(--body-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#btn-menu{
    border: none;
    background-color: inherit;
}
#btn-menu i{
    margin-right: 10px;
    font-size: 24px;
    color: var(--title-color);
    padding: 10px 10px 0 ;
}
.nav-links{
    width: 100%;
    height: 95vh;
    background-color: var(--body-color);
    position: fixed;
    top: 5vh;
    transition: 0.5s;
    margin-right: -100%;
}
.nav-links ul{
    height: 100%;
    display: flex;flex-direction: column;justify-content: flex-start;align-items: center;
}
.nav-links ul li a{
    display: block;
    color: var(--title-color);
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;
} 
.nav-links ul li .active{
    color: var(--resalt-color);
    border-bottom: 1px solid var(--resalt-color);
}
.nav-links ul li a:hover{
    color: var(--resalt-color);
}

/*Header*/
header{
    height: 45vh;
    display: flex;flex-direction: column;align-items: center;justify-content: center;
}
.header-i-container{
    width: 100%;
    display: flex;justify-content: center;
}
.header-i{
    width: 250px;
    height: 250px;
    background-color: #2a2b3d;
    border-radius: 50%;
    z-index: -1;
    display: flex;justify-content: center;align-items: flex-end;
    margin-bottom: -10px;
}
.header-i img{
    width: 180px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.header-title{
    width: 90%;
    display: flex;justify-content: space-between;
    position: absolute;
    top: 7vh;
}
.header-title-1 h1{
    font-size: 28px;
    color: var(--title-color);
}
.header-title-1 h1 span{
    font-size: 50px;
    font-weight: 600;
    color: var(--resalt-color);
}
.header-title-1 h3{
    width: 140px;
    font-size: 16px;
    color: var(--title-color);
    padding: 10px 0;
    border-top: 2px solid var(--title-color);
    margin-top: 10px;
}
.header-title-2 h3{
    font-size: 18px;
    color: var(--title-color);
}
.header-title-2 h3 span{
    font-weight: 600;
    color: var(--resalt-color);
}
.header-title-2 ul{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.header-title-2 ul li a{
    color: #2a2b3d;
    font-size: 24px;
    background-color: var(--title-color);
    border-radius: 50%;
    padding: 5px;
    transition: all .3s ease-in-out;
}
.header-title-2 ul li a:hover{
    background-color: var(--resalt-color);
    color: var(--title-color);
}
.header-icons{
    width: 95%;
    height: 65px;
    border-radius: 10px;
    background-color: #2a2b3d;
    display: flex;justify-content: center;align-items: center;
    gap: 20px;
}
.header-icon{
    width: 60px;
    height: 45px;
    border-radius: 10px;
    background-color: var(--title-color);
    display: flex;justify-content: center;align-items: center;
}
.header-icon i{
    font-size: 35px;
}

/*Main*/
/*Acerca de mi*/
#acerca-de-mi p{
    color: var(--text-color);
    text-align: center;
}

/*Servicios*/
.tarjetasServicios {
    width: 100%;
    max-width: 370px;
    overflow: hidden;
}
.mov {
    width: 225%;
    display: flex;justify-content: center;align-items: center;
    gap: 15px;
}
.uwu {
    background: var(--title-color) url(../assets/Vectores/Ellipse\ 14.svg) no-repeat top;
    background-size: 250px;
    width: 250px;
    height: 350px;
    display: flex;flex-direction: column;justify-content: center;align-items: center;
    text-align: center;
    border-radius: 5px;
}
.uwu img{
    width: 100px;
    margin-bottom: 40px;
}
.uwu h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #000;
}
.uwu p {
    color: var(--text-color);
    font-size: 18px;
}

/*Mis habilidades*/
#mis-habilidades ul li{
    color: var(--title-color);
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}
progress{
    width: 100%;
    height: 15px;
    color: var(--resalt-color);
    background: #fff;
    border-radius: 10px;
    margin-top: 10px;
}
progress::-webkit-progress-bar{
    background: #fff;
    border-radius: 10px;
}
progress::-webkit-progress-value{
    background: #3fb6b2;
    border-radius: 10px;
}

/*Mi portafolio*/
#mi-portafolio > div {
    width: 100%;
    max-width: 360px;
    overflow: hidden;
}
.carruselPorta {
    width: 200%;
    display: flex;justify-content: center;align-items: center;
    gap: 20px;
}
.tarao {
    width: 230px;
    height: 200px;
}
.tarao img {
    width: 100%;
    height: 100%;
}
.btn-cv{
    background-color: var(--resalt-color);
    padding: 14px;
    color: var(--title-color);
    display: inline-block;
    margin-top: 20px;    
    border-radius: 25px;
    border: 1px solid var(--resalt-color);
}
.btn-cv:hover{
    background-color: transparent;
    color: var(--resalt-color);
}

/*Contacto*/
.contacto-cards{
    display: flex;flex-direction: column;
    gap: 30px;
    /*width: 100%;*/
}
.contacto-card{
    background: #fff url(../assets/Vectores/Ellipse\ 14.svg) no-repeat top;
    background-size: 170px;
    width: 180px;
    height: 160px;
    border-radius: 5px;
    display: flex;flex-direction: column;justify-content: center;align-items: center;
    padding: 25px 0 0;
}
.contacto-card img{
    width: 60px;
}
.contacto-card h3{
    font-weight: 600;
    font-size: 16px;
    margin: 10px 0;
}
.contacto-card span{
    font-size: 12px;
    color: var(--text-color);
}
.contacto-card:nth-child(1){
    margin-left: 20px;
}
.contacto-card:nth-child(2){
    align-self: flex-end;
    margin-right: 20px;
}

/*Footer*/
footer{
    width: 100%;
    height: 10vh;
    background-color: #2a2b3d;
    display: flex;justify-content: center;align-items: center;
    color: var(--resalt-color);
    margin: 80px 0 0;
}

/*Responsive*/
@media (min-width: 768px) {
    /*reciclables*/
    .center{max-width: 750px;}
    
    /*Navegador*/
    #btn-menu{display: none;}
    .nav-links{
        height: 5vh;
        position: static;
        margin-right: 0;
    }
    .nav-links ul{
        flex-direction: row;
        justify-content: flex-end;
    }
    .nav-links ul li a{
        font-size: 10px;
        display: block;
    } 

    /*Header*/
    header{height: 50vh;}
    .header-title{
        width: 85%;
        padding-top: 20px;
    }
    .header-title-1 h1{font-size: 48px;}
    .header-title-1 h1 span{
        font-size: 70px;
        border-top: 3px solid var(--title-color);
    }
    .header-title-1 h3{
        width: 200px;
        font-size: 20px;
        border-top: none;
    }
    .header-title-2 h3{font-size: 28px;}
    .header-title-2 ul li a{
        font-size: 28px;
        padding: 10px;
    }
    .header-icons{
        width: 80%;
        height: 90px;
        gap: 40px;
    }
    .header-icon{
        width: 80px;
        height: 65px;
        border-radius: 10px;
    }
    .header-icon i{font-size: 50px;}
    .header-i{
        width: 300px;
        height: 300px;
    }
    .header-i img{
        width: 240px;
    }

    /*Main*/
    /*Acerca de mi*/
    #acerca-de-mi p{
        width: 550px;
        margin: auto;
    }

    /*Servicios*/
    .tarjetasServicios {
        max-width: 650px;
        margin: auto;
    }
    .mov {
        width: 100%;
        gap: 30px;
    }
    .uwu {
        background-size: 185px;
        width: 185px;
        height: 260px;
    }
    .uwu img{
        width: 80px;
        margin-bottom: 30px;
    }
    .uwu h3 {font-size: 20px;}
    .uwu p {font-size: 15px;}

    /*Mis habilidades*/
    #mis-habilidades ul{
        margin: auto;
        width: 65%;
    }
    #mis-habilidades ul li{font-weight: 400;}

    /*Mi portafolio*/
    #mi-portafolio > div {max-width: 750px;}
    .carruselPorta {width: 100%;}

    /*Contacto*/
    .contacto-cards{
        width: 70%;
        margin: auto;
    }
    .contacto-card{
        background-size: 190px;
        width: 200px;
        height: 190px;
    }
    .contacto-card img{
        width: 70px;
    }
    .contacto-card h3{
        font-size: 20px;
    }
    .contacto-card span{
        font-size: 13px;
    }
}
@media (min-width: 1000px) {
    /*reciclables*/
    html{
        scroll-padding: 10vh;
    }
    .center{max-width: 1100px;}
    
    /*Navegador*/
    nav{
        height: 10vh;
    }
    .nav-links ul li a{
        font-size: 15px;
    } 

    /*Header*/
    header{height: 89vh;}
    .header-title{
        width: 85%;
    }
    .header-title-1 h1{font-size: 80px;}
    .header-title-1 h1 span{
        font-size: 140px;
    }
    .header-title-1 h3{
        width: 400px;
        font-size: 40px;
    }
    .header-title-2 h3{font-size: 40px;}
    .header-title-2 ul li a{
        font-size: 35px;
        padding: 15px;
    }
    .header-icons{
        width: 100%;
        height: 140px;
        gap: 70px;
    }
    .header-icon{
        width: 150px;
        height: 100px;
    }
    .header-icon i{font-size: 90px;}
    .header-i{
        width: 500px;
        height: 500px;
        margin-bottom: -30px;
    }
    .header-i img{
        width: 400px;
    }

    /*Main*/
    /*Acerca de mi*/
    #acerca-de-mi p{
        width: 650px;
    }

    /*Servicios*/
    .tarjetasServicios {
        max-width: 850px;
    }
    .mov {
        width: 100%;
        gap: 50px;
    }
    .uwu {
        background-size: 230px;
        width: 233px;
        height: 300px;
    }

    /*Mi portafolio*/
    #mi-portafolio > div {
        max-width: 950px;
        margin: auto;
    }
    .carruselPorta {
        width: 100%;
        height: 300px;
    }
    .tarao {
        width: 270px;
        height: 250px;
    }

    /*Contacto*/
    .contacto-cards{
        width: 60%;
        margin: auto;
    }
    .contacto-card{
        background-size: 250px;
        width: 250px;
        height: 240px;
    }
}